.category-main {
  background-color: #f5f5f5;
  min-height: 100vh;
}

.category-main-contents {
}

.category-main-lists {
  padding: 0 100px;
  display: flex;
  flex-wrap: wrap;
}

.category-main-list {
  margin: 1.5em 1em 0 1em;
}

.category-main-item-category {
  padding: 0.5em 2em;
  background-color: #FFF;
  border: 1px solid #797676;
  border-radius: 100vh; /*角を丸く*/
}

.category-main-item-category:hover {
  background-color: #3ccace;
  color: #f5f5f5;
}
