<%= render "devise/shared/header" %>
<div class="category-main">
  <div class="category-main-contents">
    <ul class="category-main-lists">
      <li class="category-main-list">
        <a class="category-main-item-category">レディース</a>
      </li>
      <li class="category-main-list">
        <a class="category-main-item-category">メンズ</a>
      </li>
      <li class="category-main-list">
        <a class="category-main-item-category">ベビー・キッズ</a>
      </li>
      <li class="category-main-list">
        <a class="category-main-item-category">インテリア・住まい・小物</a>
      </li>
      <li class="category-main-list">
        <a class="category-main-item-category">本・音楽・ゲーム</a>
      </li>
      <li class="category-main-list">
        <a class="category-main-item-category">おもちゃ・ホビー・グッズ</a>
      </li>
      <li class="category-main-list">
        <a class="category-main-item-category">家電・スマホ・カメラ</a>
      </li>
      <li class="category-main-list">
        <a class="category-main-item-category">スポーツ・レジャー</a>
      </li>
      <li class="category-main-list">
        <a class="category-main-item-category">ハンドメイド</a>
      </li>
      <li class="category-main-list">
        <a class="category-main-item-category">その他</a>
      </li>
  </div>
</div>